08/models/08_pretrained_vit_feature_extractor_pizza_steak_sushi.pth
09/models/09_pretrained_effnetb2_feature_extractor_pizza_steak_sushi_20_percent.pth
09/models/09_pretrained_vit_feature_extractor_pizza_steak_sushi_20_percent.pth
